/**
 * index.scss
 * - Add any styles you want here!
*/
html{
  font-size:18px;
}
#photo{
  background-color:#2f2f39;
  color:#c5c5c5;
  padding:20px;
}
img{
  width:100%;
}
body {
  background: #fff;
}
#tribute-info{
  line-height:40px;
}
h1{
  text-align:center;
}
blockquote{
  font-size:25px;
  width:60%;
}
footer{
  font-size:33px;
  text-align:center;
  padding: 30px;
}
a{
  color:blue;
}
a:hover{
  color:purple;
}
a:active{
  color:blue;
}
